{% extends 'base.html.twig' %}

{% block title %}Hello ProductController!{% endblock %}

{% block body %}
    <h1>Accueil (produits)</h1>
    {% if products is not empty %}
        <ul>
            {% for product in products %}
                <li>{{ product.name }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Aucun produit</p>
    {% endif %}
{% endblock %}
