{% extends 'base.html.twig' %}

{% block title %}Hello ProductController!{% endblock %}

{% block body %}
    <h1 class="text-3xl font-bold">Accueil (produits)</h1>
    {% if products is not empty %}
        <table>
            <thead>
                <tr>
                    <th>Nom</th>
                </tr>
            </thead>
            <tbody>
                {% for product in products %}
                <tr>
                    <td>
                        <a href="{{ path('product_detail', {'id': product.id}) }}" class="btn btn-primary">{{ product.name }}</a>
                        ajouter au panier
                        <a href="{{ path('app_product_add', {'id': product.id}) }}" class="btn btn-primary">Ajouter au panier</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Aucun produit</p>
    {% endif %}

    {# Si vous êtes connecté avec un rôle ROLE_ADMIN, vous devez pouvoir ajouter un produit sur cette page. #}
    {% if is_granted('ROLE_ADMIN') %}
        <a href="http://localhost:8000/admin?crudAction=new&crudControllerFqcn=App%5CController%5CAdmin%5CProductCrudController&referrer=http://localhost:8000/admin?crudAction%3Dindex%26crudControllerFqcn%3DApp%255CController%255CAdmin%255CProductCrudController">Ajouter un produit</a>
    {% endif %}
{% endblock %}
