{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
    <h1 class="text-4xl font-bold">Mon compte</h1>
    <div>
        {% if app.user is not null %}
            <h2 class="text-2xl font-bold">Mes informations</h2>
            <p>Nom : {{ app.user.lastName }}</p>
            <p>Prénom : {{ app.user.firstName }}</p>
            <p>Email : {{ app.user.email }}</p>
        {% else %}
            <p>Vous n'êtes pas connecté</p>
        {% endif %}
    </div>

    <h2 class="text-2xl font-bold">MODIFIER</h2>
    {{ form(edit) }}

    <h2 class="font-3xl font-bold">Mon historique de commandes</h2>
{% endblock %}
